.course-card {
	background-color: #ffffff;
	border: 1px solid #0000001f;
	border-left: 7px solid #333e48;
	border-radius: 4px;
	box-shadow: 2px 0px 8px 0px #00000040;
	padding: 21px 31px 34px;
	margin-bottom: 32px;
	.course-card-title {
		font-size: 20px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 10px;
	}
	.course-card-row {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 47px;
		.course-card-description {
			color: #333e48;
			line-height: 20px;
		}
		.course-card-data {
			.course-card-data-item {
				.bold-text {
					font-weight: 700;
				}
			}
			button {
				margin-top: 30px;
			}
		}
	}
}
