.cource-info {
	.cource-info-title {
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 23px;
	}
	.cource-info-card {
		background-color: #ffffff;
		border: 1px solid #cfcfcf;
		border-radius: 4px;
		padding: 53px 64px 77px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;
		align-items: start;
		.cource-info-description {
			.cource-info-description-title {
				font-size: 20px;
				font-weight: 700;
				line-height: 20px;
				margin-bottom: 25px;
			}
			.cource-info-description-text {
				line-height: 20px;
			}
		}
		.cource-info-data {
			padding-top: 27px;
			padding-left: 32px;
			border-left: 1px solid #cfcfcf;
			.cource-info-data-item {
				display: flex;
				align-items: center;
				gap: 36px;
				margin-bottom: 16px;
				.cource-info-data-item-name {
					font-size: 20px;
					font-weight: 700;
					line-height: 32px;
					min-width: 96px;
				}
				.cource-info-data-item-content {
					.bold-text {
						font-weight: 700;
					}
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.cource-info-btn-wrapper {
		margin-top: 46px;
		text-align: end;
		> button {
			min-width: 185px;
		}
	}
}
