.header {
	padding: 15px 0px;
	background-color: #ffffff;
	box-shadow: 1px 1px 4px 0px #00000026;
}
.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.header-name-and-btn-row {
		display: flex;
		align-items: center;
		gap: 26px;
		font-weight: 600;
	}
}
